@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong> Baza danych produktów</strong> </h1>
    <h2><img src="kredek.png" alt="kredek logo" width="500" height="600"></h2>
</div>
